%table.highlight
  %thead
    %tr
      %th
        = ReadingSubentry.human_attribute_name(:reading_subentry)
      %th
        = ReadingSubentry.human_attribute_name(:duration)
      %th
        = ReadingSubentry.human_attribute_name(:description)
      %th
        = link_to new_reading_subentry_path do
          %i.material-icons add
  %tbody
    - @reading_subentries&.each do |reading_subentry|
      %tr
        %td
          =  humanized_date(reading_subentry.entry.entry_date)
        %td
          = chronify_output(reading_subentry&.duration)
        %td
          = reading_subentry.description
        %td
          = link_to edit_reading_subentry_path(reading_subentry) do
            %i.material-icons.tiny.pink-text mode_edit