.section
  = simple_form_for @entry do |f|
  
    .row
      .col.s4
        = f.input :entry_date, as: :string, input_html: { class: 'datepicker' }
      .col.s2
        = f.input :sentences_added
      .col.s2
        = f.input :words_added
      .col.s2
        = f.input :commentary
      .col.s2
        = f.input :language_project_id, collection: current_user.language_projects
  
    = f.button :submit
