%table.highlight
  %thead
    %tr
      %th
        = ImmersionSubentry.human_attribute_name(:immersion_subentry)
      %th
        = ImmersionSubentry.human_attribute_name(:type)
      %th
        = ImmersionSubentry.human_attribute_name(:duration)
      %th
        = ImmersionSubentry.human_attribute_name(:description)
      %th
        = link_to new_immersion_subentry_path do
          %i.material-icons add
  %tbody
    - @immersion_subentries&.each do |immersion_subentry|
      %tr
        %td
          =  humanized_date(immersion_subentry.entry.entry_date)
        %td
          = immersion_subentry.immersion_type.upcase_first
        %td
          = chronify_output(immersion_subentry&.duration)
        %td
          = immersion_subentry.description
        %td
          = link_to edit_immersion_subentry_path(immersion_subentry) do
            %i.material-icons.tiny.pink-text mode_edit