.section
  = simple_form_for @anki_subentry do |f|
  
    .row
      .col.s4
        = f.input :entry_id, collection: current_user.entries, label_method: lambda { |entry| humanized_date(entry.entry_date) }, prompt: "When?"
      .col.s2
        = f.input :duration, as: :string, placeholder: "00:00:00", input_html: { value: chronify_output(f.object.duration) }
      .col.s2
        = f.input :description
  
    = f.button :submit
