%table.highlight
  %thead
    %tr
      %th
        = AnkiSubentry.human_attribute_name(:anki_subentry)
      %th
        = AnkiSubentry.human_attribute_name(:duration)
      %th
        = AnkiSubentry.human_attribute_name(:description)
      %th
        = link_to new_anki_subentry_path do
          %i.material-icons add
  %tbody
    - @anki_subentries&.each do |anki_subentry|
      %tr
        %td
          =  humanized_date(anki_subentry.entry.entry_date)
        %td
          = chronify_output(anki_subentry.duration)
        %td
          = anki_subentry.description
        %td
          = link_to edit_anki_subentry_path(anki_subentry) do
            %i.material-icons.tiny.pink-text mode_edit