!!!
%html
  %head
    %title Lingotail
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body.white
    .header
      %nav.white.z-depth-0
        .nav-wrapper
          %ul#nav-mobile.right.hide-on-med-and-down
            %a.waves-effect.waves-light.btn-small.pink.lighten-3 Support us
          %ul#nav-mobile.right.hide-on-med-and-down
            - if user_signed_in?
              = link_to users_sign_out_path, method: :delete do
                %i.material-icons.black-text
                  exit_to_app
            - else
              %li
                = link_to new_user_session_path do
                  .black-text
                    Login
    %main
      .mainContainer
        - if notice
          %p.alert.alert-success= notice
        - if alert
          %p.alert.alert-danger= alert
        = yield
- if user_signed_in?
  %ul#slide-out.sidenav.sidenav-fixed
    %li
      .user-view
        = link_to root_path do
          = image_tag user_avatar(current_user), class: "circle responsive-img"
          %span.black-text.name
            Gustavo Maia
          %span.black-text.email
            gustavomeneses@protonmail.com
    %li
      = link_to entries_path do
        %i.tiny.material-icons add
        Entries
    %li
      = link_to immersion_subentries_path do
        %i.tiny.material-icons layers
        Immersion
    %li
      = link_to reading_subentries_path do
        %i.tiny.material-icons bookmark_border
        Reading Volume
    %li
      = link_to anki_subentries_path do
        %i.tiny.material-icons star_border
        Anki
    %li
      = link_to entries_path do
        %i.tiny.material-icons help_outline
        Unknown Words
    .divider
    %li
      %a.subheader Free Account
    %li
      = link_to entries_path do
        %i.tiny.material-icons today
        Manage Subscription